<h1>Register</h1>
<br>
<form method="POST" action="Register">
    <input type="text" name="username" id="" />
    <input type="password" name="password" id="" />
    <input type="submit" value="Login">
</form>